#background-image {
    background-image: url("forrest.jpg");
    width: 1500px;
    height: 590px;
  	background-repeat: no-repeat;
  	background-position: center;
  	
  
   
}

#instruments {
	width: 1500px;
	height: 590px;
	position: relative;

}

#violin {
	position: absolute;
	top: -350px;
	left: 1030px;
	height: 150px;
	transform: rotate(330deg);
}

#drums {
	position: absolute;
	top: -400px;
	left: 570px;
	height: 350px;
}

#cymbal {
	position: absolute;
	top: -200px;
	left: 1300px;
	height: 120px;
}

#sax {
	position: absolute;
	top: -430px;
	left: 1200px;
	height: 250px;
	transform: rotate(340deg);
}

#guitar {
	position: absolute;
	top: -370px;
	left: 400px;
	height: 100px;
	transform: rotate(290deg);
}

#piano {
	position: absolute;
	top: -280px;
	left: 40px;
	height: 280px;
	
}

#trumpet {
	position: absolute;
	top: -200px;
	left: 1000px;
	height: 80px;
	
}


#bass {
	position: absolute;
	top: -400px;
	left: 300px;
	height: 120px;
	transform: rotate(290deg);
	
}

